* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5ebe0;
  color: #333;
  line-height: 1.6;
  margin: 20px;
}

h2 {
  color: #111111;
  font-size: 2rem;
}

#title {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Caveat", cursive;
}

#country-list {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

#country-list li {
  background: #fefcf3;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
}

#country-list li:hover {
  color: #007bff;
}

#country-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#country-list a:hover {
  text-decoration: underline;
  color: #007bff;
}

/* Landinformation */
#country-info {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#country-info h2 {
  margin-bottom: 15px;
}

#country-info p {
  margin-bottom: 10px;
}

#country-info img {
  margin-top: 10px;
  max-width: 200px;
  display: block;
}

#country-info a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#country-info a:hover {
  text-decoration: underline;
}

.search {
  text-align: center;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 200px;
}

#searchButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchButton:hover {
  background-color: #0056b3;
}
